
UPDATE {{data['table']}}
SET
{%- for k,v in data['columns'].items() %}
{%- if not loop.last %}
{%- if v is number %}
`{{k}}` = {{v}},
{%- else %}
`{{k}}` = '{{v}}',
{% endif -%}
{%- else %}
{%- if v is number %}
`{{k}}` = {{v}}
{%- else %}
`{{k}}` = '{{v}}'
{% endif -%}
{% endif -%}
{% endfor %}
WHERE {{data['index_key']}} = {{data['index_value']}};
